/*
.container {
  position: absolute;
  width: 1600px;
  height: 1600px;
  background-color: #f0f0f0;
  overflow: hidden;
  margin: 0;
}
*/
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh; /* Adjust based on your layout */
  position: relative;
  padding-top: 160px; /* Give enough space for the header */
  background-image: url('background.png'); /* Make sure the path is correct */
  background-size: cover; /* Cover the entire space of the element */
  background-position: center center; /* Center the image in the element */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* Fix the background image during scroll */
}

.App-header {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #333333; /* Change the text color to dark grey */
  z-index: 10; /* Make sure the header is above the container */
  font-size: 32px;
}

.stats-container {
  position: absolute;
  top: 150px;
  left: 100px;
  width: 360px; /* Adjust the width as needed */
  background-color: #b8792b; /* or any other color you'd like */
  padding: 20px;
  font-size: 24px; /* change the size of the words */
  font-weight: bold; /* Make the text bold */
  color: #333333; /* Change the text color to dark grey */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Rest of your CSS */

.container {
  position: absolute;
  width: 1240px;
  height: 1240px;
  background-color: #f0f0f0;
}


.add-sheep-button, .add-wolf-button, .add-grass-button {
  position: fixed;
  right: 80px;
  z-index: 1000;
  background-color: #4CAF50; /* green background */
  color: rgb(255, 255, 255); /* white text */
  border: none;
  padding: 30px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.add-sheep-button:hover, .add-wolf-button:hover, .add-grass-button:hover {
  background-color: #45a049; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.add-sheep-button {
  top: 200px;
}

.add-wolf-button {
  top: 400px;
}

.add-grass-button {
  top: 10px;
}


.agent { /* Use unified class names for easier management */
  position: absolute;
}

.agent img {
  max-width: 60px;
  max-height: 60px;
  object-fit: contain;
  /* position: absolute;
  left: 0;
  top: 0; */
}


.rain-container {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100vh; /* fixed height */
  overflow: hidden; /* Prevent overflow */
  pointer-events: none; /* Make sure raindrops don't block click events */
  z-index: 1000; /* Make sure it's on top of other content */
}

.raindrop {
  position: absolute;
  top: -10px; /* Initial position is outside the top of the container */
  width: 2px;
  height: 20px;
  background: rgb(198, 216, 231);
  animation: fall linear infinite;
}

@keyframes fall {
  to {
      transform: translateY(100vh); /* the entire height of the screen of the website */
  }
}




/*
.agent-info {
  display: none;
  background-color: white;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100px;
  z-index: 2
}
*/
.agent-info {
  background-color: rgb(149, 195, 245);
  border: 1px solid #070438;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
  width: 100px;
}

.agent.sheep .agent-info {
  display: block; /* Displayed when agent-info is a element of sheep and is clicked */
}

.agent.wolf .agent-info {
  display: block; /* Displayed when agent-info is a element of wolf and is clicked  */
}

.agent.grass .agent-info {
  display: block; /* Displayed when agent-info is a element of grass and is clicked */
}

.grid-container {
  width: 1240px; /* Set width to 1600px*/
  height: 1240px; /* Set height to 1600px */
  display: grid;
  grid-template-columns: repeat(31, 1fr);
  grid-template-rows: repeat(31, 1fr);
  /* margin: auto; */
}

.grid-cell {
  border: 1px solid black;
  padding-top: 5%; /* Maintain square proportions */
  background-image: url('sol.png'); /* Add the land image */
  background-size: cover; /* Cover entire cell */
  background-position: center; /* Center the image */
}


/* Lake cell style */
.lake-cell {
  width: 40px;  /* cell width */
  height: 40px; /* cell height */
  position: absolute;
}

/* Hill cell style */
.hill-cell {
  width: 40px;  /* cell width */
  height: 40px; /* cell height */
  position: absolute;
}
